.container {
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  margin: 50px 0;
}

.summary {
  font-size: 22px;
  font-weight: 500;
}

.content {
  border-left: 4px solid #F5D6BA;
  padding-left: 10px;
  font-weight: 300;
  font-size: 18px;
  max-height: 400px;
  overflow: scroll;
}

.content p {
  margin: 5px 0;
}

.source {
  font-size: 18px;
  font-weight: 300;
}

.sourceTitle {
  font-weight: 500;
}

.button {
  background: #F5D6BA;
  border-radius: 8px;
  border: 0;
  color: #2C2C54;
  cursor: pointer;
  display: block;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
  padding: 8px;
}

.link {
  color: #2C2C54;
  text-decoration: underline;
}

.link:visited {
  color: #2C2C54;
}