/* =============== SHARED STYLES =============== */

.button,
.loading,
.link,
.link:visited {
  color: #2C2C54;
}

/* =============== INDIVIDUAL STYLES =============== */

.container {
  margin: 40px 30px auto 30px;
}

@media (min-width: 800px) {
  .container {
    max-width: 700px;
    margin: 80px auto auto auto;
  }
}

.heading {
  font-size: 28px;
}

.subHeading {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

.link {
  display: inline-block;
  text-decoration: underline;
}

.quote {
  margin: 40px 20px;
}

@media (min-width: 800px) {
  .quote {
    margin: 50px 20px;
  }
}

.summary {
  font-size: 22px;
  font-weight: 500;
}

.content {
  border-left: 4px solid #F5D6BA;
  font-size: 18px;
  font-weight: 300;
  margin: 15px 0;
  max-height: 400px;
  overflow: scroll;
  padding-left: 10px;
}

.content p {
  margin: 5px 0;
}

.source {
  font-size: 18px;
  font-weight: 300;
}

.sourceTitle {
  font-weight: 500;
}

.button {
  background: #F5D6BA;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: block;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
}

.button:hover {
  background: #ddc1a7;
  transition: ease .4s;
}

.loading {
  display: block;
  font-style: italic;
  margin-top: 12px;
  opacity: 0.7;
}
